/* button {
 padding: 15px 25px;
 border: unset;
 border-radius: 15px;
 color: #212121;
 z-index: 1;
 background: #e8e8e8;
 position: relative;
 font-weight: 1000;
 font-size: 17px;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms;
 overflow: hidden;
}

button::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 0;
 border-radius: 15px;
 background-color: #212121;
 z-index: -1;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms
}

button:hover {
 color: #e8e8e8;
}

button:hover::before {
 width: 100%;
} */

/* 
button {
 background-color: #444141;
 border-radius: 4px;
 color: #fff;
 cursor: pointer;
 padding: 15px 30px;
 font-size: 18px;
 font-weight: bold;
 letter-spacing: 1px;
 border: none;
}

button:hover {
 background-image: linear-gradient(90deg, #53cbef 0%, #dcc66c 50%, #ffa3b6 75%, #53cbef 100%);
 animation: slidernbw 5s linear infinite;
 color: #000;
}

@keyframes slidernbw {
 to {
  background-position: 20vw;
 }
} */

button {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  flex-direction: row;
  outline: none;
  cursor: pointer;
  width: 60px;
  height: 50px;
  background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
  border-radius: 30px;
  border: 1px solid #8F9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
}

button:hover {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

button:active {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

button:focus {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

/* 
.bodydesign {
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg,teal, white);
  background-size: 1em 1em;
} */

.pattern-square {
  --mx: 0;
  --my: 0;
  --a-x: calc(var(--mx) * 8px);
  --a-y: calc(var(--my) * 8px);
  --b-x: calc(var(--mx) * -6px);
  --b-y: calc(var(--my) * -6px);
  --c-x: calc(var(--mx) * 4px);
  --c-y: calc(var(--my) * 4px);

  background:
    repeating-linear-gradient(
        45deg,
        #0000 calc(-650% / 13) calc(50% / 13),
        #100f0f 0 calc(100% / 13),
        #0000 0 calc(150% / 13),
        #100f0f 0 calc(200% / 13),
        #0000 0 calc(250% / 13),
        #100f0f 0 calc(300% / 13)
      )
      calc(0px + var(--c-x)) calc(0px + var(--c-y)),
    repeating-linear-gradient(
        45deg,
        #0000 calc(-650% / 13) calc(50% / 13),
        #100f0f 0 calc(100% / 13),
        #0000 0 calc(150% / 13),
        #100f0f 0 calc(200% / 13),
        #0000 0 calc(250% / 13),
        #100f0f 0 calc(300% / 13)
      )
      calc(32px + var(--a-x)) calc(32px + var(--a-y)),
    repeating-linear-gradient(
        -45deg,
        #0000 calc(-650% / 13) calc(50% / 13),
        #100f0f 0 calc(100% / 13),
        #0000 0 calc(150% / 13),
        #100f0f 0 calc(200% / 13),
        #0000 0 calc(250% / 13),
        #100f0f 0 calc(300% / 13)
      )
      calc(0px + var(--b-x)) calc(0px + var(--b-y)),
    repeating-linear-gradient(
        -45deg,
        #0000 calc(-650% / 13) calc(50% / 13),
        #100f0f 0 calc(100% / 13),
        #0000 0 calc(150% / 13),
        #100f0f 0 calc(200% / 13),
        #0000 0 calc(250% / 13),
        #100f0f 0 calc(300% / 13)
      )
      calc(32px + var(--a-x)) calc(32px + var(--a-y)) #1e1e1e;

  background-size: 64px 64px;
  width: 100%;
  height: 100%;
}



.wordhover {
  font-size: 20px;
  color: #0F766E;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.3s ease-in-out;
}
.wordhover:hover {
  text-decoration: underline;
  font-weight: 600;
  color: #7a1f2b;
}


