body {
    background-color:black;
    
}

/* .input {
  border-radius: 10px;
  outline: 2px solid #FEBF00;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #e2e2e2;;
  transition: 0.25s;
  width: 500px;
}

.input:focus {
  outline-offset: 5px;
  background-color: #fff
} */


/* From Uiverse.io by Codewithvinay */ 
/* .input {
 
  background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
  
  background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);

  background-repeat: no-repeat;
  border-radius: 89% 29% 90% 23% / 0% 100% 0% 100%;
  border-color: transparent;
  width: 500px;
  height: 200px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-family: inherit;
  box-shadow: 23px 23px 46px #bebebe,
             -23px -23px 46px #ffffff;
}

.input::placeholder {
  color: white;
} */


/* .container {
  width: 100%;
  height: 100%;

  background: repeating-radial-gradient(
    circle,
    #000,
    #000 5px,
    transparent 6px
  );
  background-size: 20px 20px;
} */

/* From Uiverse.io by artvelog */ 
.container {
  width: 100%;
  height: 100%;
  background: #f1f1f1;
  background-image: linear-gradient(
      90deg,
      transparent 50px,
      #ffb4b8 50px,
      #ffb4b8 52px,
      transparent 52px
    ),
    linear-gradient(#e1e1e1 0.1em, transparent 0.1em);
  background-size: 100% 30px;
}



/* From Uiverse.io by Alaner-xs */ 
.input {
 background-color: #383838;
 border: 1ex solid none;
 border-top-width: 1.7em;
 margin: 0;
 padding: 0;
 color: #383838;
 word-wrap: break-word;
 outline: 7px solid #383838;
 height: 300px;
  width: 500px;
 font-size: 17px;
 text-align: center;
 transition: all 1s;

 font-weight: bold;
 font-family: 'Courier New', Courier, monospace;
}
.input:hover {
 border-top-width: 0.2em;
 background-color: #f1e8e8;
}

.input:focus {
 border-top-width: 0.2em;
 background-color: #f1e8e8;
}

.calchover {
  font-size: 20px;
  color: #7a1f2b;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.3s ease-in-out;
}
.calchover:hover {
  text-decoration: underline;
  font-weight: 600;
  color: #0F766E;
}

